## Przedstawienie 5 najniebezpieczniejszych czynników wypadków w NY

### Wczytywanie danych z pliku CSV

In [1]:
import pandas as pd
import requests

nypd_df = pd.read_csv("/home/student/nypd-motor-vehicle-collisions.csv")
nypd_df

/tmp/ipykernel_42304/1386546516.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  nypd_df = pd.read_csv("/home/student/nypd-motor-vehicle-collisions.csv")

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434.0,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225.0,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002.0,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460.0,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016.0,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612173,2012-07-21T00:00:00.000,22:46,BROOKLYN,11226.0,40.651741,-73.965241,"{'type': 'Point', 'coordinates': [-73.9652409,...",PARADE PLACE,CROOKE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,147595,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1612174,2012-07-09T00:00:00.000,16:45,NaN,NaN,NaN,NaN,NaN,EDWARD L GRANT HIGHWAY,WEST 169 STREET,NaN,...,Fatigued/Drowsy,Unspecified,NaN,NaN,85220,PASSENGER VEHICLE,LIVERY VEHICLE,PASSENGER VEHICLE,NaN,NaN
1612175,2012-07-09T00:00:00.000,14:35,NaN,NaN,40.791492,-73.935763,"{'type': 'Point', 'coordinates': [-73.935763, ...",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2853431,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1612176,2012-07-18T00:00:00.000,9:20,MANHATTAN,10024.0,40.779479,-73.973573,"{'type': 'Point', 'coordinates': [-73.9735729,...",CENTRAL PARK WEST,WEST 77 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,52405,SPORT UTILITY / STATION WAGON,VAN,BUS,NaN,NaN
1612177,2012-07-12T00:00:00.000,3:10,QUEENS,11361.0,40.762501,-73.782522,"{'type': 'Point', 'coordinates': [-73.7825216,...",39 AVENUE,203 STREET,NaN,...,NaN,NaN,NaN,NaN,259445,PASSENGER VEHICLE,NaN,NaN,NaN,NaN

##### Wczytanie tabeli ze wszytskimi danymi do analizy przyczyn oraz lokalizacji wypadków w NY

### Wyznaczenie 5 kolumn z ilością niebezpiecznych czynników wypadków

In [56]:
nypd_df_factors_data = nypd_df[['CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5']].apply(pd.Series.value_counts) 
nypd_df_factors_data

,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5
1,10,3,1.0,NaN,NaN
80,105,26,3.0,NaN,NaN
Accelerator Defective,787,49,2.0,NaN,NaN
Aggressive Driving/Road Rage,6081,1284,29.0,2.0,NaN
Alcohol Involvement,15277,1235,78.0,14.0,7.0
...,...,...,...,...,...
Unspecified,595805,1173564,96893.0,20538.0,5299.0
Using On Board Navigation Device,98,10,NaN,NaN,NaN
Vehicle Vandalism,87,5,NaN,NaN,NaN
View Obstructed/Limited,9588,2248,23.0,2.0,NaN
Windshield Inadequate,73,4,NaN,2.0,NaN

##### Przedstawienie zsumowanej ilości przyczyn wypadków dla poszczególnego pojazdu ("CONTRIBUTING FACTOR VEHICLE 1,2,3,4,5")

### Resetowanie indeksu i zmiana nazwy kolmny z czynnikami wypadków. Dodanie sumy wypadkow z 5 kolumn z iloscia czynnikow.

In [76]:
df = nypd_df_factors_data.reset_index()
df = df.rename(columns={df.columns[0]: 'CONTRIBUTING FACTORS'})
df['Sum'] = df[['CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5']].sum(axis=1)
df

,CONTRIBUTING FACTORS,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,Sum
0,1,10,3,1.0,NaN,NaN,14.0
1,80,105,26,3.0,NaN,NaN,134.0
2,Accelerator Defective,787,49,2.0,NaN,NaN,838.0
3,Aggressive Driving/Road Rage,6081,1284,29.0,2.0,NaN,7396.0
4,Alcohol Involvement,15277,1235,78.0,14.0,7.0,16611.0
...,...,...,...,...,...,...,...
56,Unspecified,595805,1173564,96893.0,20538.0,5299.0,1892099.0
57,Using On Board Navigation Device,98,10,NaN,NaN,NaN,108.0
58,Vehicle Vandalism,87,5,NaN,NaN,NaN,92.0
59,View Obstructed/Limited,9588,2248,23.0,2.0,NaN,11861.0
60,Windshield Inadequate,73,4,NaN,2.0,NaN,79.0

##### Zresetowanie pierwszego indeksu w tabeli, aby był przedstawiony jako kolumna z nazwą przyczyn wypadków. Zsumowanie przyczyn wypadków dla poszczególnych pojazdów 1,2,3,4,5 i dodanie kolumny z ich sumą.

### Usunięcie niepotrzebnych kolumn

In [67]:
df.drop(['CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5'], axis=1, inplace=True)
df

                CONTRIBUTING FACTORS        Sum
0                                  1       14.0
1                                 80      134.0
2              Accelerator Defective      838.0
3       Aggressive Driving/Road Rage     7396.0
4                Alcohol Involvement    16611.0
..                               ...        ...
56                       Unspecified  1892099.0
57  Using On Board Navigation Device      108.0
58                 Vehicle Vandalism       92.0
59           View Obstructed/Limited    11861.0
60             Windshield Inadequate       79.0

[61 rows x 2 columns]

##### Przedstawienie tabeli z przyczyną wypadków oraz ich sumą dla poszczególnych czynników

### Posortowanie i przestawienie 5 niebezpieczennych czynników wg ich najczęstszego występowania

In [75]:
df = df.sort_values(by='Sum', ascending=False)
df.head(5)

                                      Sum
CONTRIBUTING FACTORS
Unspecified                     1892099.0
Driver Inattention/Distraction   374570.0
Failure to Yield Right-of-Way    105739.0
Following Too Closely             93248.0
Other Vehicular                   80424.0

##### Przedstawienie 5 najczęściej powtarzających się czynników wypadków wraz z ich sumą